body {
  background-image: url(icons-imagens/teste.webp);
  background-position: center;
  background-size: cover;
  font-family: "Roboto", sans-serif;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 98vh;
}

h2 {
  color: black;
  font-size: 2.3em;
  margin: 10px;
}

h4 {
  color: rgba(7, 7, 7, 0.637);
}
a {
  text-decoration: none;
  color: rgb(0, 13, 189);
}
.login {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.caixa {
  background-color: rgba(252, 252, 252, 0.63);
  padding: 16px;
  border-radius: 10px;
  width: 380px;
  height: 330px;
  border-color: rgba(255, 255, 255, 0.349);
  box-shadow: 0 5px 20px rgba(0, 28, 155, 0.15);
}

.email input {
  width: 300px;
  height: 40px;
  border-radius: 15px;
  border: none;
  background-color: rgba(8, 8, 8, 0.185);
  color: rgb(36, 36, 36);
  padding-left: 15px;
}

.email input::placeholder {
  color: rgb(7, 7, 7);
}

.senha input {
  width: 300px;
  height: 40px;
  border-radius: 15px;
  border: none;
  background-color: rgba(8, 8, 8, 0.185);
  color: rgb(36, 36, 36);
  padding-left: 15px;
  margin-top: 15px;
}

.senha input::placeholder {
  color: rgb(8, 8, 8);
}

.entrar input {
  cursor: pointer;
  background-color: rgb(4, 0, 219);
  color: rgb(253, 252, 252);
  width: 150px;
  height: 40px;
  font-size: 1.1em;
  border-radius: 15px;
  border: none;
  box-shadow: 0 5px 20px rgba(0, 28, 155, 0.15);
}

.caixa {
  margin-top: 10px;
}

.entrar input:active {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(1px);
}

.login img {
  width: 250px;
}

input:focus {
  outline: none;
}

.esqueceu {
  color: black;
}
